* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body { 
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(170, 170, 170), rgb(104, 106, 124));
    justify-content: center;
}

.container {
    background-image: url('/img/img.png') ;
    display: flex;
    border: 2px solid black;
    height: 15rem;
    padding: 5rem;
    width: 50em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 1px;    
}

#conteudo {
    display: flex;
    align-items: center; /* horizontal */
    flex-direction: column;
    margin-top: 80px;
    max-width: 70em;

}


#cadastrar {
    display: flex;
    padding: 0.2rem;
    background-color: rgb(4, 39, 39);
    color: aliceblue;
    width: auto;
    margin-left: 10px;
}

.input {
    display: flex;
}

.info {
    display: flex;
}
    
.nome {
    width: 11rem;
    font-size: 15px;
    font-weight: bold;
}

.placa {
    margin-left: 15px;
    width: 15rem;
    font-size: 15px;
    font-weight: bold;
}

#nome {
    display: flex;
    margin-right: 5px;
    width: flex;
}

#placa {
    display: flex;
    width: auto;  
    margin-left: 5px;
}

h1 {
    display: flex;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 60px;
}

th {
    background-color: rgb(7, 0, 48);
    color: white;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
    height: 2rem;
}

tr {
    background-color: rgb(0, 255, 221);
    text-align: center;
    justify-content: space-evenly;
    margin-top: 1px;
}

table {
    background-image: linear-gradient(rgb(18, 0, 41), rgb(0, 17, 255), rgb(15, 0, 39));
    border: 2px solid black;
    padding: 0.5rem;
    width: 50em;
    max-width: 70em;
    min-width: 30em;
}

footer {
	width: 100%;
	background-color: #4e545c;
	padding: 10px;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}

#div-patio {
    background-image: url('/img/table.png');
    border: 0.1px solid black;
    height: 20rem;
}

@media (max-width: 715px) {
    body {
        min-width: 50em;
    }


}